<!DOCTYPE html>
<html>
<head>
  <title>EvezaryEvent</title>
  <%= stylesheet_link_tag    "mobile", media: "all" %>
  <%= javascript_include_tag "mobile" %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46149688-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  $(document).ready(function() {
    $("#m2_phone_1").val($.url().param('p1'));
    $("#m2_phone_2").val($.url().param('p2'));
    $("#m2_phone_3").val($.url().param('p3'));
  });

</script>
  <%= csrf_meta_tags %>
  <meta name = "viewport" content = "width=device-width, user-scalable=no" />
</head>
<body id = "indexBody">
<div class = "mobilePopContain">
  <%= image_tag("mpopup/mobile_social_form_title.png", class:"social_mp2_Label1") %>

  <form action="users.html" method="post" class="mobile-user-form" id="mobile-user-form">
      <div class = "mp2_PopInbox">
        <%= image_tag("mpopup/2/m2_Label2.png", class:"mp2_Label2") %>
        <br />
        <!-- 이름 -->
        <%= image_tag("mpopup/2/m2_Label3.png", class:"mp2_Label3") %>
        <input type = 'text' id='m2_name' class='mp2_InputWide' name="user[name]"/>
        <br />
        <!-- 전화번호 -->
        <%= image_tag("mpopup/2/m2_Label4.png", class:"mp2_Label4") %>
        <input type = 'text' id='m2_phone_1' class= 'mp2_Input' maxlength="4" name="p1"/>
        <input type = 'text' id='m2_phone_2' class= 'mp2_Input' maxlength="4" name="p2"/>
        <input type = 'text' id='m2_phone_3' class= 'mp2_Input' maxlength="4" name="p3"/><br />
        <!-- 이메일 -->
        <%= image_tag("mpopup/2/m2_Label5.png", class:"mp2_Label5") %>
        <input type = 'text' id = 'm2_email' class = 'mp2_InputWide' name="user[email]"/>
        <input type = 'hidden' name="user[gift_id]" value="5"/>
        <br />
        <%= image_tag("mpopup/2/m2_LongLine.png", class:"mp2_LineLabel") %>
        <%= image_tag("mpopup/2/m2_Label6.png", class:"mp2_Label6") %>
        <%= image_tag("mpopup/2/m2_Label7.png", class:"mp2_Label7") %>
        <input type = "radio" name = "agree" checked="checked" value = "a"/>
        <%= image_tag("mpopup/2/m2_Label8.png", class:"mp2_Label8") %>
        <input type = "radio" name = "agree" value = "d"/>
        <%= link_to mobile_person_path, id: "m2_personButton", target: "_blank" do %>
           <%= image_tag("mpopup/2/m2_CautionBtn.png", class:"mp2_CautionBtn") %>
        <% end %>
    </div>
      <%= image_tag("mpopup/2/m2_Label9.png", class:"mp2_Label9") %>
      <%= image_submit_tag("mpopup/2/m2_endButton.png", id:"m2_endButton", class:"mp2_EndBtn") %>
  </form>

</div>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 921993912;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/921993912/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>