<script language='javascript' src='http://i42.icast-ad.com/track?ccd=1242&mcd=01040601&pcd=1539'></script>
<div class = "contain">
  <div id="float_guide">
    <a href="#blog_button">
      <%= image_tag "main/btn_top.png"%>
    </a>
  </div>
  <!--top : 로고를 포함한 컨테이너-->
  <div class = "top">
    <a href = "http://www.evezary.co.kr/">
      <%= image_tag("main/logo.png", class: "logo_w") %>
    </a>
  </div>
  <!--labelBox : 윗부분 텍스트 컨테이너-->
  <div class = "labelBox">
    <%= image_tag("main/label_1.png", class: "label") %><br />
    <%= image_tag("main/label_2.png", class: "labelb") %><br />
    <%= image_tag("main/label_3.png", class: "label") %><br />
  </div>
  <!--applyBox : applyBackBox 및 상품 컨테이너-->
  <div class = "applyBox">
    <!--applyBackBox : 신청하기 및 배경 이미지 컨테이너-->
    <div class = "applyBackBox">
      <div class = "cloudBox">
        <%= image_tag("main/cloud/cloud_1.png", id: "cloud_1") %>
        <%= image_tag("main/cloud/cloud_2.png", id: "cloud_2") %>
        <%= image_tag("main/cloud/cloud_3.png", id: "cloud_3") %>
        <%= image_tag("main/cloud/cloud_4.png", id: "cloud_4") %>
      </div>
      <a id = "applyButton" href = "#">
        <%= image_tag("main/apply.png", id: "applyBtnI") %>
      </a>
      <div class = "characterBox"></div>
    </div>
    <%= image_tag("main/gift.png") %>
  </div>
  <%= image_tag("main/dotLine.png", class: "applyBtnI") %>
  <br />
  <!--shareBox : 소문내기 이벤트 컨테이너-->
  <div class = "shareBox">
    <%= image_tag("main/shareLabel_1.png", class: "share") %>
    <%= image_tag("main/shareLabel_2.png", class: "share") %>
    <%= image_tag("main/shareGift.png", class: "gifticon-100") %>
    <br />
    <!--shareButtonBox : 페이스북, 블로그 버튼-->
    <div class = "shareButtonBox">
      <a id = "fbButton" href = "#" target = "_blank"><%= image_tag("main/facebook.png", class: "shareButton") %></a>
      <a name="blog_button" id = "blogButton" href = "#"><%= image_tag("main/blog.png", class: "shareButton") %></a>
      <br />
    </div>
  </div>
</div>
<div class="footer">
  <div class = "caution">
    <%= image_tag("main/caution.png") %>
  </div>
</div>
<%= render "social_form" %>
<%= render "social_blog" %>
<%= render "social_popUp_6" %>
<div id = "popUp" class = "modal">
</div>
<input type="hidden" id="gift-select" value="1">
<input type="hidden" id="send-phone" value="">
<input type="hidden" id="my-phone-1" value="">
<input type="hidden" id="my-phone-2" value="">
<input type="hidden" id="my-phone-3" value="">
<input type="hidden" id="message-id" value="">
<input type="hidden" id="blog-code" value="">
<input type="hidden" id="ip-code" value="">
<input type="hidden" id="selected-store" value="">
