<div id = "popUp_2">
	<div class = "inPopup">
        <%= image_tag("popup/2/applyPopup2_Label_1.png", class: "label") %>
		<div class = "popUp_2_inputBox">
			<form>
				<!-- 내 번호 -->
                <%= image_tag("popup/2/applyPopup2_InputLabel_1.png", class: "popUp_2_InputLabel1") %>
				<input type = 'text' id = 'myPhone_1' class = "popUp_2_Input" maxlength="4" />
				-
				<input type = 'text' id = 'myPhone_2' class = "popUp_2_Input" maxlength="4" />
				-
				<input type = 'text' id = 'myPhone_3' class = "popUp_2_Input" maxlength="4" /><br />

				<!-- 엄마 번호 -->
                <%= image_tag("popup/2/applyPopup2_InputLabel_2.png", class: "popUp_2_InputLabel2") %>
				<input type = 'text' id = 'momPhone_1' class = "popUp_2_Input" maxlength="4" />
				-
				<input type = 'text' id = 'momPhone_2' class = "popUp_2_Input" maxlength="4" />
				-
				<input type = 'text' id = 'momPhone_3' class = "popUp_2_Input" maxlength="4" /><br />

				<!-- 라벨 -->
                <%= image_tag("popup/2/applyPopup2_InputCautionLabel_1.png", class: "popUp_2_Label1") %>
                <%= image_tag("popup/2/applyPopup2_Line.png", class: "popUp_2_Label2") %>

				<!-- 메시지 -->
                <%= image_tag("popup/2/applyPopup2_InputLabel_3.png", class: "popUp_2_InputLabel1", style: "vertical-align: top; margin-left: -2px; margin-right: 38px; margin-top: 28px;") %>
				<textarea class = "popUp_2_textarea" id="msg-body"></textarea>
                <%= image_tag("popup/2/applyPopup2_Line.png", style: "margin-top: 24px;") %>

				<!-- 매장선택 -->
                <%= image_tag("popup/2/applyPopup2_InputLabel_4.png", class: "popUp_2_InputLabel3") %>
        <%= select("message", "store_id", @log.near_stores.collect {|s| [ s.title, s.id ] }) %>
				<!-- 라벨 -->
                <%= image_tag("popup/2/applyPopup2_InputCautionLabel_2.png", class: "popUp_2_Label3") %>
				<a id = "applyPopup2_nearButton" href = "#">
                    <%= image_tag("popup/2/applyPopup2_SelectButton.png", class: "popUp_2_selectBtn") %>
                </a>
			</form>
		</div>
		<a id = "applyPopup2_sendButton" href = "#">
            <%= image_tag("popup/2/applyPopup2_send.png") %>
        </a>
	</div>
</div>