<div id = "popUp_5">
	<div class = "inPopup">
		<div class = "popUp_5_inBox">
			<div id = "popUp_5_move_1">
				<div class = "popUp_5_ImageZone">
	            				<%= image_tag("popup/5/bed_1_Img.png", class:"popUp_5_giftImage1") %><%= image_tag("popup/5/bed_2_Img.png", class:"popUp_5_giftImage2") %><%= image_tag("popup/5/bed_3_Img.png", class:"popUp_5_giftImage3") %><%= image_tag("popup/5/bed_4_Img.png", class:"popUp_5_giftImage4") %><%= image_tag("popup/5/bed_5_Img.png", class:"popUp_5_giftImage5") %><%= image_tag("popup/5/bed_6_Img.png", class:"popUp_5_giftImage6") %><%= image_tag("popup/5/bed_7_Img.png", class:"popUp_5_giftImage7") %><%= image_tag("popup/5/bed_8_Img.png", class:"popUp_5_giftImage8") %>
	            			</div>
	            			<div class = "popUp_5_textZone">
	            				<%= image_tag("popup/5/bed_1_Label.png") %><%= image_tag("popup/5/bed_2_Label.png") %><%= image_tag("popup/5/bed_3_Label.png") %><%= image_tag("popup/5/bed_4_Label.png") %><%= image_tag("popup/5/bed_5_Label.png") %><%= image_tag("popup/5/bed_6_Label.png") %><%= image_tag("popup/5/bed_7_Label.png") %><%= image_tag("popup/5/bed_8_Label.png") %>
	            			</div>
	            		</div>
	            		<div id = "popUp_5_move_2">
				<div class = "popUp_5_ImageZone">
	            				<%= image_tag("popup/5/bed_1_Img.png", class:"popUp_5_giftImage1") %><%= image_tag("popup/5/bed_2_Img.png", class:"popUp_5_giftImage2") %><%= image_tag("popup/5/bed_3_Img.png", class:"popUp_5_giftImage3") %><%= image_tag("popup/5/bed_4_Img.png", class:"popUp_5_giftImage4") %><%= image_tag("popup/5/bed_5_Img.png", class:"popUp_5_giftImage5") %><%= image_tag("popup/5/bed_6_Img.png", class:"popUp_5_giftImage6") %><%= image_tag("popup/5/bed_7_Img.png", class:"popUp_5_giftImage7") %><%= image_tag("popup/5/bed_8_Img.png", class:"popUp_5_giftImage8") %>
	            			</div>
	            			<div class = "popUp_5_textZone">
	            				<%= image_tag("popup/5/bed_1_Label.png") %><%= image_tag("popup/5/bed_2_Label.png") %><%= image_tag("popup/5/bed_3_Label.png") %><%= image_tag("popup/5/bed_4_Label.png") %><%= image_tag("popup/5/bed_5_Label.png") %><%= image_tag("popup/5/bed_6_Label.png") %><%= image_tag("popup/5/bed_7_Label.png") %><%= image_tag("popup/5/bed_8_Label.png") %>
	            			</div>
	            		</div>	
		</div>
		<div class = "popUp_5_addition">
			<a id = "arrow_left" href = "#"><%= image_tag("popup/5/applyPopup5_ArrowLeft.png", class:"popUp_5_Arrow") %></a>
			<a id = "arrow_right" href = "#"><%= image_tag("popup/5/applyPopup5_ArrowRight.png") %></a>
		</div>
		<div class = "popUp_5_button">
			<a id = "applyPopup5_finButton_1" href = "#">
                <%= image_tag("popup/5/applyPopup5_Button_1.png", class:"popUp_5_Btn") %>
			</a>
			<a id = "applyPopup5_finButton_2" href = "#">
                <%= image_tag("popup/5/applyPopup5_Button_2.png") %>
			</a>
		</div>
	</div>
</div>