<div id = "popUp_5">
	<div class = "inPopup">
		<div class = "popUp_5_inBox">
			<div class = "popUp_5_textZone">
				하하하하하하하.. 하드코딩 죄송합니다.
			</div>
            <%= image_tag("popup/5/applyPopup5_Image_1.png", class:"popUp_5_giftImage1") %>
		</div>
		<div class = "popUp_5_addition">
            <%= image_tag("popup/5/applyPopup5_ArrowLeft.png", class:"popUp_5_Arrow") %>
            <%= image_tag("popup/5/applyPopup5_ArrowRight.png") %>
		</div>
		<div class = "popUp_5_button">
			<a id = "applyPopup5_finButton_1" rel = "modal:close" href = "#">
                <%= image_tag("popup/5/applyPopup5_Button_1.png", class:"popUp_5_Btn") %>
			</a>
			<a id = "applyPopup5_finButton_2" rel = "modal:close" href = "#">
                <%= image_tag("popup/5/applyPopup5_Button_2.png") %>
			</a>
		</div>
	</div>
</div>