<div id = "popUp_2">
  <div class = "inPopup">
    <%= image_tag("popup/2/applyPopup2_Label_1.png", class: "label") %>
    <div class = "popUp_2_inputBox">
      <form>
        <!-- 내 번호 -->
        <%= image_tag("popup/2/applyPopup2_InputLabel_1.png", class: "popUp_2_InputLabel1") %>
        <input type = 'text' id = 'myPhone_1' class = "popUp_2_Input" value = "" maxlength="4" />
        -
        <input type = 'text' id = 'myPhone_2' class = "popUp_2_Input" value = "" maxlength="4" />
        -
        <input type = 'text' id = 'myPhone_3' class = "popUp_2_Input" value = "" maxlength="4" /><br />
        <!-- 사랑하는 사람에게 데이트 신청하세요. 침구도 함께 고르고 특별한 선물을 받는 행운까지 누리세요! 번호 -->
        <%= image_tag("popup/2/applyPopup2_InputLabel_2.png", class: "popUp_2_InputLabel2") %>
        <input type = 'text' id = 'momPhone_1' class = "popUp_2_Input" value = "" maxlength="4" />
        -
        <input type = 'text' id = 'momPhone_2' class = "popUp_2_Input" value = "" maxlength="4" />
        -
        <input type = 'text' id = 'momPhone_3' class = "popUp_2_Input" value = "" maxlength="4" /><br />
        <!-- 라벨 -->
        <%= image_tag("popup/2/applyPopup2_InputCautionLabel_1.png", class: "popUp_2_Label1") %>
        <%= image_tag("popup/2/applyPopup2_Line.png", class: "popUp_2_Label2") %>
        <!-- 메시지 -->
        <%= image_tag("popup/2/applyPopup2_InputLabel_3.png", class: "popUp_2_InputLabel1", style: "vertical-align: top; margin-left: -2px; margin-right: 38px; margin-top: 28px;") %>
        <textarea id = "textarea_2" value = "" class = "popUp_2_textarea"></textarea>
        <%= image_tag("popup/2/applyPopup2_InputCautionLabel_3.png", class: "popUp_2_InputLabel4") %>
        <%= image_tag("popup/2/applyPopup2_Line.png", style: "margin-top: 24px;") %>
        <!-- 매장선택 -->
        <div id="select-stores-wrap" class="select-stores-wrap">
          <%= image_tag("popup/2/applyPopup2_InputLabel_4.png", class: "popUp_2_InputLabel3") %>
          <span id="selected_store"></span>
          <%= select("message", "store_id", @log.near_stores.collect {|s| [ s.title, s.id ] }) %>
        </div>
        <!-- 라벨 -->
        <%= image_tag("popup/2/applyPopup2_InputCautionLabel_2.png", class: "popUp_2_Label3", id:"InputCautionLabel_2") %>
        <a id = "applyPopup2_nnearButton" href = "#">
          <%= image_tag("popup/2/applyPopup2_SelectButton.png", class: "popUp_2_selectBtn", id:"popUp_2_selectBtn") %>
        </a>
      </form>
    </div>
    <a id = "applyPopup2_sendButton" href = "#">
      <%= image_tag("popup/2/applyPopup2_send.png") %>
    </a>
    <div id = "location">
      <a href = "#" id = "location_close"><%= image_tag("popup/applyPopup_close.png", class: "location_close")  %></a>
      <%= image_tag("popup/location/Label_1.png", class: "location_label")  %><br /><br /><br />
      <input type = 'text' id = 'location_searchBox' class = 'popUp_3_InputStyle1' />
      <a href = "#" id = "location_search"><%= image_tag("popup/location/search_btn.png", class: "location_searchBtn")  %></a><br /><br />
      <select class = "location_select" size = "10" id="search-stores-select">
        <option selected="selected">매장을 선택해주세요.</option>
      </select>
      <a onclick =  " _gaq.push(['_trackEvent', 'button', 'click', '약관 나가기 모바일]'); exitWindow();" href = "#">
        <%= image_tag("mpopup/btn_close.jpg", id:"loc_endBtn") %>
        <a>
    </div>
  </div>
</div>