<div id = "popUp_3">
	<div class = "inPopup">
        <%= image_tag("popup/3/applyPopup3_Label_1.png", class: "popUp_3_titleLabel") %>
		<div class = "popUp_3_inputBox">
            <%= image_tag("popup/3/applyPopup3_InputLabel_1.png", class: "popUP_3_subLabel") %><br /><br />
			<form>
				<!-- 이름 -->
                <%= image_tag("popup/3/applyPopup3_InputLabel_2.png", class: "popUp_3_Label1") %>
				<input type = 'text' id = 'myName' class = 'popUp_3_InputStyle1' />
				<br />
				<!-- 전화번호 -->
                <%= image_tag("popup/3/applyPopup3_InputLabel_3.png", class: "popUp_3_Label2") %>
				<input type = 'text' id = 'phone_1' class = 'popUp_3_InputStyle2' />
				-
				<input type = 'text' id = 'phone_2' class = 'popUp_3_InputStyle2' />
				-
				<input type = 'text' id = 'phone_3' class = 'popUp_3_InputStyle2' />
				<br />
				<!-- 이메일 -->
                <%= image_tag("popup/3/applyPopup3_InputLabel_4.png", class: "popUp_3_Label3") %>
				<input type = 'text' id = 'myPhone_1' class = 'popUp_3_InputStyle3' />
				<br /><br />
			</form>
		</div>
		<!-- 개인정보수집 -->
        <%= image_tag("popup/3/applyPopup3_CautionLabel.png", class: "popUp_3_CautionLabel1") %>
        <%= image_tag("popup/3/applyPopup3_CautionAllow.png", class: "applyPopup3_CautionAllow") %>
		<input type = "radio" name = "agree" value = "a"/>
        <%= image_tag("popup/3/applyPopup3_CautionDisallow.png", class: "popUp_3_CautionLabel2") %>
		<input type = "radio" name = "agree" value = "d"/>
        <%= image_tag("popup/3/applyPopup3_CautionShow.png", class: "popUp_3_CautionLabel3") %>

		<!-- 라벨 -->
        <%= image_tag("popup/3/applyPopup3_Line.png", class: "popUp_3_DotLine") %>
        <%= image_tag("popup/3/applyPopup3_CautionLabel2.png", class: "popUp_3_CautionLabel4") %>

		<a id = "applyPopup3_finButton" href = "#">
            <%= image_tag("popup/3/applyPopup3_Fin.png") %>
		</a>
	</div>
</div>