<!DOCTYPE html>
<html>
<head>
  <title>EvezaryEvent</title>
  <%= stylesheet_link_tag    "mobile", media: "all" %>
  <%= javascript_include_tag "mobile" %>
  <meta property="og:url" content="http://event3.evezary.co.kr/" />
  <meta property="og:image" content="<%= asset_url "link_share_content_385x200.jpg" %>" />
  <meta property="og:title" content="이브자리 데이트 이벤트" />
  <meta property="og:description" content="사랑하는 사람에게 데이트 신청하세요. 침구도 함께 고르고 특별한 선물을 받는 행운까지 누리세요!"/>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46149688-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 10, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    left: 40-40,
    top: 29-40
  };

$(document).ready(function() {
  phone_field_move_focus();
	<% if params[:where].nil? %>
  var target = document.getElementById('spin_wrap');
  var spinner = new Spinner(opts).spin(target);
  navigator.geolocation.getCurrentPosition (function (pos){
    var lat = pos.coords.latitude;
    var lng = pos.coords.longitude;
    $.ajax({
      type: "GET",
      url: "/near_stores.json?lat="+lat+"&lng="+lng,
      dataType: "json",
      success: function(data){
        $.each(data.stores, function(key, value) {
          $('#message_store_id').append($('<option>', { value : key }).text(value)); 
        });
        spinner.stop();
      }
    });
  });
  <% end %>
});
</script>
  <%= csrf_meta_tags %>
  <meta name = "viewport" content = "width=device-width, user-scalable=no" />
</head>
<body id = "indexBody">
  <!-- go back box -->
  <%= image_tag("mpopup/bg2.png", class:"mp_closeBox") %>
  <%= link_to mobile_index_path do %>
    <%= image_tag("mpopup/btn_close.png", class:"mp_close") %>
  <% end %>
  <!---->
<div class = "mobilePopContain">
  <%= image_tag("mpopup/1/m1_Label1.png", class:"mp1_Label1") %>
  <div class = "mp1_PopInbox">
    <%= form_tag('mobile/messages.html', method: "post")%>
      <%= hidden_field_tag "ip", params[:ip] %>
      <!-- 내 번호 -->
      <%= image_tag("mpopup/1/m1_InputLabel_1.png", class:"mp1_InputLabel1") %>
      <%= number_field_tag "myPhone_1" ,params["myPhone_1"], class: "mp1_input", type:"tel", maxlength:"3" %>
      <%= number_field_tag "myPhone_2" ,params["myPhone_2"], class: "mp1_input", type:"tel", maxlength:"4" %>
      <%= number_field_tag "myPhone_3" ,params["myPhone_3"], class: "mp1_input", type:"tel", maxlength:"4" %><br />
      <!-- 사랑하는 사람에게 데이트 신청하세요. 침구도 함께 고르고 특별한 선물을 받는 행운까지 누리세요! 번호 -->
      <%= image_tag("mpopup/1/m1_InputLabel_2.png", class:"mp1_InputLabel2") %>
      <%= number_field_tag "momPhone_1" ,params["momPhone_1"], class: "mp1_input", type:"tel", maxlength:"3" %>
      <%= number_field_tag "momPhone_2" ,params["momPhone_2"], class: "mp1_input", type:"tel", maxlength:"4" %>
      <%= number_field_tag "momPhone_3" ,params["momPhone_3"], class: "mp1_input", type:"tel", maxlength:"4" %><br />
      <!-- 메시지 -->
      <%= text_area_tag "message[msg_body]", params["ta"], class:"mp1_textArea", id:"ta"%>
      <%= image_tag("mpopup/1/m1_Label5.png", class:"mp1_guide_text")%>
      <!-- 매장선택 -->
      <div id="spin_wrap">
		  <% if params[:where].nil? %>
        <select class = "mp1_select" id="message_store_id" name="message[store_id]">
        </select>
		<% else %>
		<p class = "mp1_where_class"><%= Store.find(params[:where]).title %></p>
		<input type="hidden" value = "<%= params[:where] %>" name = "message[store_id]">
		<% end %>
      </div>
      <!-- 라벨 -->
      <%= image_tag("mpopup/1/m1_Label4.png", class:"mp1_Label2") %>
      <a href = "#" id = "location">
        <%= image_tag("mpopup/1/m1_SelectButton.png", class:"mp1_selectBtn") %>
      </a>
    </div>
      <%= image_submit_tag("mpopup/1/m1_send.png", class:"mp1_sendBtn", id:"m1_sendButton") %>
  </form>
</div>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 921993912;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/921993912/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>