<!DOCTYPE html>
<html>
<head>
  <title>EvezaryEvent</title>
  <meta name = "viewport" content = "width=device-width, user-scalable=no" />
  <meta property="og:url" content="http://event3.evezary.co.kr/" />
  <meta property="og:image" content="<%= asset_url "link_share_content_385x200.jpg" %>" />
  <meta property="og:title" content="엄마와 특별한 데이트 이벤트" />
  <meta property="og:description" content="지금 엄마에게 문자로 데이트 신청하세요. 엄마와 함께 혼수침구도 고르고 웨딩준비 선물을 받는 행운까지 누리세요!"/>
  <%= stylesheet_link_tag    "mobile", media: "all" %>
  <%= javascript_include_tag "mobile" %>
  <script language='javascript' src='http://i51.icast-ad.com/track?ccd=1251&mcd=01040601&pcd=1547'></script>
  <script type="text/javascript">
  

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46149688-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  <%= csrf_meta_tags %>
</head>
<body id = "indexBody">
<div class = "mobileContain">
  <!--top : 로고를 포함한 컨테이너-->
  <div class = "top">
    <a href = "http://www.evezary.co.kr/">
      <%= image_tag("mobile/logo.png", class:"logo_m") %>
    </a>
  </div>
  <!-- 라벨 -->
  <div class = "showing">
    <%= image_tag("mobile/Label_1.png", class:"mobile80") %>
    <br />
    <%= image_tag("mobile/Image_1.png", class:"mobile") %>
    <br />
  </div>
  <a href = "#" id = "mobile_apply" >
      <%= image_tag("mobile/apply_button.png", class:"mobile_1") %>
  <a>
  <!-- 소문내기 -->
  <div class = "shareEvent">
    <%= image_tag("mobile/dotLine.png", class:"mobile_2") %><br />
    <p class = "">
      <%= image_tag("mobile/Label_2.png", class:"mobile") %>
    </p>
    <a id="mobile_k" href="#"><%= image_tag("mobile/share_Kakao.png", class:"Button") %></a>
    <br />
    <a id="mobile_ks" href="#" ><%= image_tag("mobile/share_Kakaostory.png", class:"Button") %></a>
    <br />
    <a id="mobile_f" href= "#"><%= image_tag("mobile/share_Facebook.png", class:"Button") %></a>
    <br />
    <%= image_tag("mobile/dotLine.png", class:"Line") %>
    <br />
  </div>
  <!-- 경품 -->
  <%= image_tag("mobile/gift.png", class:"Gift") %>
  <!-- 유의사항 -->
  <div class = "cautionBox">
    <%= image_tag("mobile/caution.png", class:"mobile") %>
  </div>
</div>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 921993912;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/921993912/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>