<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
  <title>엄마와 특별한 이벤트</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset = "UTF-8" />
  <meta property="og:url" content="http://event3.evezary.co.kr/" />
  <meta property="og:image" content="<%= asset_url("fb_share_img")%>" />
  <meta property="og:title" content="엄마와 특별한데이트 이벤트" />
  <meta property="og:description" content="지금 엄마에게 문자로 데이트 신청하세요. 엄마와 함께 혼수침구도 고르고 웨딩준비 선물을 받는 행운까지 누리세요!"/>

  <%= stylesheet_link_tag    "web", media: "all" %>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46149688-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  <%= javascript_include_tag "web" %>
  <%= csrf_meta_tags %>
</head>
<body id = "indexBody">
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<%= yield %>
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 921993912;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/921993912/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
</body>
</html>
